url: 'https://jekyll.ohsosstatic.com'
baseurl: ''
title: 'OhSoStatic Jekyll'

plugins:
  - jekyll-postcss

postcss:
  cache: false

exclude:
  - package.json
  - postcss.config.js
  - tailwind.config.js
  - yarn.lock
  - README.md
  - CNAME
