---
---
@import url('molokai.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

article div.highlight {
  @apply p-4 text-sm rounded-lg shadow-inner;
}

article code.language-plaintext {
  @apply bg-slate-600 text-slate-200 text-sm px-1 rounded font-light
          select-all inline-block leading-normal m-0 align-text-bottom;
}
