<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <title>
      {%- if page.title -%}
        {{ page.title | append: " &middot; " | append: site.title }}
      {%- else -%}
        {{ site.title }}
      {%- endif -%}
    </title>

    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  </head>

  <body class="bg-slate-900 text-slate-400 font-light min-h-full">
    <header class="p-4 max-w-5xl mx-auto flex justify-between items-center">
      <a href="/">
        <img src="{{ 'assets/img/logo.svg' | relative_url }}" class="w-60">
      </a>

      <div class="flex gap-2 items-center">
        <span class="text-sm sr-only sm:not-sr-only">
          Get updates via
        </span>

        <a href="#" class="
          inline-flex items-center sm:rounded-md rounded-full border
          border-cyan-600 p-2 sm:px-3 text-sm leading-4 text-cyan-400
          shadow-sm hover:bg-cyan-500 hover:text-white focus:outline-none
          focus:ring-2 focus:ring-cyan-500 focus:ring-offset-2
          focus:ring-offset-cyan-200
        ">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="sm:-ml-0.5 h-4 w-4"
            aria-hidden="true"
          >
            <path d="
              M3.75 3a.75.75 0 00-.75.75v.5c0 .414.336.75.75.75H4c6.075 0 11
              4.925 11 11v.25c0 .414.336.75.75.75h.5a.75.75 0 00.75-.75V16C17
              8.82 11.18 3 4 3h-.25z
            " />

            <path d="
              M3 8.75A.75.75 0 013.75 8H4a8 8 0 018 8v.25a.75.75 0
              01-.75.75h-.5a.75.75 0 01-.75-.75V16a6 6 0 00-6-6h-.25A.75.75 0
              013 9.25v-.5zM7 15a2 2 0 11-4 0 2 2 0 014 0z
            " />
          </svg>

          <span class="sr-only sm:not-sr-only sm:ml-2">
            RSS
          </span>
        </a>

        <a href="#" class="
          inline-flex items-center sm:rounded-md rounded-full border
          border-rose-600 p-2 sm:px-3 text-sm leading-4 text-rose-400
          shadow-sm hover:bg-rose-500 hover:text-white focus:outline-none
          focus:ring-2 focus:ring-rose-500 focus:ring-offset-2
          focus:ring-offset-rose-200
        ">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="sm:-ml-0.5 h-4 w-4"
            aria-hidden="true"
          >
            <path d="
              M3 4a2 2 0 00-2 2v1.161l8.441 4.221a1.25 1.25 0 001.118 0L19
              7.162V6a2 2 0 00-2-2H3z
            " />

            <path d="
              M19 8.839l-7.77 3.885a2.75 2.75 0 01-2.46 0L1 8.839V14a2 2 0 002
              2h14a2 2 0 002-2V8.839z
            " />
          </svg>

          <span class="sr-only sm:not-sr-only sm:ml-2">
            Email
          </span>
        </a>
      </div>
    </header>

    {{ content }}

    <hr class="border-slate-700">

    <footer class="p-4 max-w-5xl mx-auto text-sm text-center">
      <p>
        {{ 'now' | date: "%Y"}} &copy;

        <a href="https://ohsostatic.com">
          OhSoStatic
        </a>
      </p>
    </footer>
  </body>
</html>
